html, body {
    height: 100%;
    margin: 0;
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

body > :not(footer) {
    flex-grow: 1;
}

.title {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.buttons {
    display: block;
    text-align: center;
}

#number {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#decrease-btn {
    display: inline-flexbox;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: 30px;
    width: 95px;
    border: 140;
    border-color: hsl(0, 90%, 48%);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#decrease-btn:hover{
    background-color:lightcoral;
}

#btn-zero {
    display: inline-flexbox;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-size: 30px;
    width: 95px;
    border: 140;
    border-color: hsl(232, 83%, 50%);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#btn-zero:hover {
    background-color: lightblue;
}

#increase-btn {
    display: inline-flexbox;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: green;
    color: white;
    font-size: 30px;
    width: 95px;
    border: 140;
    border-color: hsl(118, 92%, 48%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

#increase-btn:hover{
    background-color: lightgreen;
}

footer {
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
